/* Reset layout and ensure full height */
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Theme Styles */
  .dark-theme {
    background: linear-gradient(to bottom right, purple, black);
    color: white;
  }
  
  .light-theme {
    background: linear-gradient(to bottom right, #edc988, #5b8c5a);
    color: black;
  }
  
  /* Make sure all page content fills full height */
  .page-fill {
    min-height: 100vh;
  }
  